
  
  .app {
    background-color: #8c96a3;
    width: 650px;
    min-height: 300px;
    height: min-content;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: block;
    justify-content: space-evenly;
    position: relative;
    justify-content: center;
  }
  
  .score-section {
    display: relative;
    font-size: 24px;
    align-items: center;
    text-align: center;
   
  }
  
  /* QUESTION SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  

  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .button2 {
      position: absolute;
      width: 1500px;
    max-width: 150px;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ffffff;
    background-color: #c3cfdf;
    border-radius: 15px;
    display: flex;
   padding-bottom: 3px;
   padding-top: 3px;

    justify-content: center;
    align-items: center;
    border: 2px solid #c3cfdf;
    cursor: pointer;
  }
   
  .button2:hover {
    background-color: #6a7c7b;
  }
  
  .button2:focus {
    outline: none;
  }
  
  .button2 svg {
    margin-right: 5px;
  }
  .textarea2{
      width: 100%;
      min-height: 100px;
margin-top: 4%;
color: black;
      background-color: #d5d7da;
  }